@import '_main.scss';

.history-vis {
  display: flex;
  align-items: center;
  /*margin: 20px;*/
  * {
    display: flex;
    align-items: center;
  }
}

.history-vis-node {
  width: 25px;
  height: 25px;
  background-color: $primary-base;
  -moz-box-shadow:    inset 0 0 0 2px $color5;
  -webkit-box-shadow: inset 0 0 0 2px $color5;
  box-shadow:         inset 0 0 0 2px $color5;
  /*z-index: 1;*/
  border-radius: 100%;
  position: relative;
  &:hover {
    background-color: $color5;
  }
}

.history-vis-edge {
  width: 20px;
  height: 10px;
  background: $primary-base;
  margin: -3px;
  /*z-index: -1;*/
  -webkit-box-shadow: inset 0 0 0 2px $color5;
  box-shadow: inset 0 0 0 2px $color5;
}

.history-vis-node .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: $primary-text;
  color: $primary-base;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  bottom: 110%;
  margin-left: -48px;


  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.history-vis-node:hover .tooltiptext {
  visibility: visible;
  background-color: $primary-text;
}

