#google-signin {
  background-image: url('../assets/btn_google_signin_light_normal_web@2x.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 46px;
  width: 191px;
  margin: auto 0;
  display: inline-block;
}

#google-signin:hover {
  background-image: url('../assets/btn_google_signin_light_pressed_web@2x.png');
  max-width: 191px;
  margin: auto 0;
}

#link-continue:hover {
  cursor: pointer;
  color: black;
}

#link-continue {
  color: white;
}
