/*import font*/
@import url(https://fonts.googleapis.com/css?family=Muli);

/* default base for site */
$primary-base: #F2F2F2;
/* default base color for cards */
$secondary-base: #E0E4E5;
/* base color for nav */
$primary-detail: #F0F0F0;
$secondary-detail: #E2E3DF;
$flair: #BE0031;

$primary-text: #000;
/* border bottom detail for nav */
$border-detail: #E2E3DF;

body {
  margin: 0;
  background-color: $primary-base;
  font-family: 'Muli', sans-serif;
  padding-top: 32px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

button {
  padding: 4px 6px;
  -webkit-appearance:caret;
  border-radius: 5px;
  background-color: #fff;
}
button:hover {
  background-color: #ddd;
}
button:active {
  background-color: #bbb;
}
