@import '_main.scss';

.recipe-header-card {
  width: 50%;
  padding: 0;
  margin-right: 10px;
  h4 {
    margin: 0;
    margin-bottom: 5px
  }
}
.recipe-header-main-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  > img {
    width: 80%;
    height: 250px;
    object-fit: cover;
  }
}

.recipe-header-thumbs-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.recipe-header-thumbs {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 80%;
}

.recipe-header-thumb {
  margin-top: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
  display: inline-block;
}

.recipe-header-thumb:last-child {
  margin-right: 1px;
}
.recipe-header-thumb:first-child {
  margin-left: 1px;
}
.recipe-header-thumb>img {
  outline: solid 1px $color4;
  padding: 3px;
}

.recipe-header-fork-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  width: 50%;
}

.recipe-content {
  margin: 0 auto;
  width: 80%;
}

.recipe-header-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .recipe-header-names {
    .recipe-main-split {
      display: inline-block;
      color: $color5;
      font-size: 30px;
      padding: 0 5px;
    }
    .recipe-main-author, .recipe-main-title {
      display: inline-block;
      color: $color5;
      font-size: 30px;
      padding: 0 5px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.recipe-image {
  width: 200px;
  height: 200px;
}

.recipe-header-container {
  display: flex;
}

.recipe-instructions {
  display: flex;
  flex-direction: column;
  background-color: $secondary-detail;
  border: 1px solid;
  border-radius: 5px;
}

.instruction-title {
  margin: 0;
}

.prep, .cook, .finish {
  flex-grow: 1;
  flex-basis: 30%;
  padding: 10px;
}

.ingredients {
  margin: 10px;
  order: 1;
  flex-grow: 1;
}

.prep {
  order: 2;
}
.cook {
  order: 3;
}
.finish {
  order: 4;
}

.changedParentItem {
  color: $color6;
}
.btn-small {
  font-size: 14px !important;
  padding: 0 8px !important;
  margin: 4px 4px !important;
}

.tag:first-child {
  margin: 4px 4px 4px 0px;
}
.tag {
  list-style: none;
  margin: 4px;
  background: $color1;
  border-radius: 3px 0 0 3px;
  color: $color5;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 20px 0 8px;
  position: relative;
  // margin: 0 10px 10px 0;
  text-decoration: none;
  transition: all 0.2s;
}
.tag a {
  color: $color5;
  text-decoration: none;
}
.tag:hover {
  background-color: $color5;
}
.tag a:hover {
  color: $color2;
  text-decoration: none;
}
.tag::after {
  background: $primary-base;
  border-bottom: 14px solid transparent;
  border-left: 12px solid $color1;
  border-top: 14px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s;
}
.tag:hover::after {
  border-left-color: $color5;
}
.tag:last-child {
  margin: 4px 0px 4px 4px;
}
.tags-list {
  display: inline-block;
  padding-left: 16px;
}
.tags-title {
  display: inline-block;
  margin: 4;
  padding: 0;
}
