/*import font*/
@import url(https://fonts.googleapis.com/css?family=Ovo);
// @import url(https://fonts.googleapis.com/css?family=Muli); // serif font

// $header-font: 'Ovo', serif;
$paragraph-font: 'Muli', sans-serif;

/* default base for site */
$primary-base: #F2F2F2;
/* default base color for cards */
$secondary-base: #E0E4E5;
/* base color for nav */
$primary-detail: #F0F0F0;
$secondary-detail: #E2E3DF;
$flair: #BE0031;


/** colors actually in use**/
$color1: #09B37C ; //rgba(218, 210, 153, 100)
$color2: #b0dab9 ; //rgba(176, 218, 185, 100)
$color3: #daffed ; //rgba(218, 255, 237, 100)
$color4: #9bf3f0 ; //rgba(155, 243, 240, 100)
$color5: #035AA6 ; //rgba(71, 49, 152, 100)
$color6: #BE0031 ; //rgba(190, 0, 49, 100)


$primary-text: #333;
/* border bottom detail for nav */
$border-detail: #E2E3DF;

body {
  margin: 0;
  background-color: $primary-base;
  font-family: $paragraph-font;
  color: $primary-text;
  padding-top: 50px;
  // background-color: $color1;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: $paragraph-font;
}

form, input, textarea, button {
  font-family: $paragraph-font
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
