@import '_main';

.recipe-header-card {
  width: 450px;
  padding: 0;
  margin-right: 10px;
}
.recipe-header-main-image>img{
  width: 450px;
  height: 250px;
  object-fit: cover;
}

.recipe-header-thumbs-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.recipe-header-thumbs {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.recipe-header-thumb {
  margin-top: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
  display: inline-block;
  &:hover {
    background-color: #ccc;
  }
}

.recipe-header-thumb:last-child {
  margin-right: 1px;
}
.recipe-header-thumb:first-child {
  margin-left: 1px;
}
.recipe-header-thumb>img {
  outline: solid 1px black;
  padding: 3px;
}

.recipe-content {
  margin: 0 auto;
  width: 80%;
}

.recipe-header-meta {
  display: inline;
  .recipe-main-split {
    display: inline-block;
    color: blue;
    font-size: 25px;
    padding: 0 5px;
  }
  .recipe-main-author, .recipe-main-title {
    display: inline-block;
    color: blue;
    font-size: 25px;
    padding: 0 5px;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.recipe-image {
  width: 200px;
  height: 200px;
}

.recipe-header-container {
  display: flex;
}

.recipe-instructions {
  display: flex;
  flex-direction: column;
  background-color: $secondary-detail;
  border: 1px solid;
  border-radius: 5px;
}

.prep, .cook, .finish {
  flex-grow: 1;
  flex-basis: 30%;
  padding: 10px;
}

.prep {
  order: 1;
}
.cook {
  order: 2;
}
.finish {
  order: 3;
}


.ingredients {
  margin: 10px;
  order: 4;
  flex-grow: 1;
}

.changedParent {
  text-decoration: #F0000;
}
