@import '_main';

.recipe-content {
  margin: 0 auto;
  width: 80%;
}

.recipe-images img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.recipe-images {
  display: flex;
  overflow: hidden;
}

.recipe-image {
  width: 200px;
  height: 200px;
}

.header-container {
  display: flex;
}

.recipe-instructions {
  display: flex;
  flex-direction: column;
  background-color: $secondary-detail;
  border: 1px solid;
  border-radius: 5px;
}

.prep, .cook, .finish {
  flex-grow: 1;
  flex-basis: 30%;
  padding: 10px;
}

.prep {
  order: 1;
}
.cook {
  order: 2;
}
.finish {
  order: 3;
}
.fork-history {
  margin: 10px;
  padding: 10px;
  border: 1px solid;
}

.ingredients {
  margin: 10px;
  order: 4;
  flex-grow: 1;
}