@import '_main';
@import url(https://fonts.googleapis.com/css?family=Muli);


.navbar {
  background-color: $primary-detail;
  // width: 100%;
  // align-items: center;
  // justify-content: center;
  // height: 48px;
  // padding: 8px 0;
  // border-bottom: 1px solid $border-detail;
  // position: fixed;
  font-family: 'Muli', sans-serif;
  // font-size: 24px;
  // z-index:1;
  // margin-top: -32px;
  background: $color1;
  // button:hover {
    // color: $color5;
  // }
}

.navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-toggle .icon-bar :hover {
  background-color: #ddd;
}

.navbar-link {
  color: white;
}

.navbar-link :hover {
  color: #ddd;
}

.nav-bar-left {
  float:left;
  padding-left: 96px;
  align-items: center;
  * {
    margin: 0 8px;
  }
}

.nav-bar-right {
  float: right;
  * {
    margin: -8px 8px;
  }
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 4px;
}

.search-bar {
  height: 28px;
  width: 270px;
  vertical-align: text-top;
  padding-left: 12px;
  padding-top: 2px;
  margin: 0 10px;
  border-radius: 10px;
  border: none;
  font-size: 12px;
}

.logo {
  display: inline-block;
  max-height: 26px;
  max-width: 141px;
}

// .logo:hover > path {
//   fill: $color5;
// }
