@import '_main';
@import url(https://fonts.googleapis.com/css?family=Muli);


.nav-bar {
  background-color: $primary-detail;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 8px 0;
  // border-bottom: 1px solid $border-detail;
  position: fixed;
  font-family: 'Muli', sans-serif;
  font-size: 24px;
  z-index:1;
  margin-top: -32px;
  background: $color1;
  button:hover {
    color: $color5;
  }
}

a:hover{
  color: $color5;
}

.nav-bar > * {
  button {
    font-family: 'Muli', sans-serif;
    background-color: transparent;
    border-color: transparent;
    font-size: 24px;
    cursor: pointer;
    color: $primary-base;
  }

  a:visited{
    color: $primary-base;
  }

  a:hover{
    color: $color5 !important;
  }

  a:link {
    color: $primary-base;
  }

  a:active {
    color: $primary-base;
  }

  margin: 0;
  padding: 8px 8px;
  transform: translate(0%, -16%);
}



.nav-bar-left {
  float:left;
  padding-left: 96px;
  align-items: center;
  * {
    margin: 0 8px;
  }
}

.nav-bar-right {
  float: right;
  * {
    margin: -8px 8px;
  }
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 4px;
}

.search-bar {
  height: 28px;
  width: 270px;
  vertical-align: text-top;
  padding-left: 12px;
  padding-top: 2px;
  margin: 0 10px;
  border-radius: 10px;
  border: none;
  font-size: 12px;
}

.logo {
  display: inline-block;
  max-height: 26px;
  max-width: 141px;
}

.logo:hover > path {
  fill: $color5;
}
