@import '_main';
@import url(https://fonts.googleapis.com/css?family=Muli);


.nav-bar {
  background-color: $primary-detail;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 10px 0;
  border-bottom: 1px solid $border-detail;
  position: fixed;
  font-family: 'Muli', sans-serif;
  z-index:1;
  margin-top: -32px;
}

.nav-bar > * {
  margin: 0;
  padding: 8px 8px;
  transform: translate(0%, -16%);
}

.nav-bar-left {
  float:left;
  padding-left: 96px;
  align-items: center;
  * {
    margin: 0 8px;
  }
}

.nav-bar-right {
  float: right;
  * {
    margin: 0 8px;
  }
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 4px;
}

.search-bar {
  height: 24px;
  width: 176px;
  padding-left: 8px;
  margin: 0 5px;
  border-radius: 4px;
  border: none;
  font-size: 14;
  width: px;
}
