@import url(https://fonts.googleapis.com/css?family=Muli);

.profile-content {
  margin: 0 auto;
  width: auto;
  padding-left: 96px;
  font-family: 'Muli', sans-serif;
}

.profile-recipe-containers {
  float: left;
  padding-top: 18px;
  padding-left: 270px;
  .recipes-created {
    margin-top: 10px;
  }
}

img.profile-avatar {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  border-color: #73D786;
  margin-top: 30px;
}

.profile-avatar{
  border-radius: 10px;
  border-color: #73D786;
}

.recipe-container {
  flex-wrap: wrap;
}

.profile-username {
  font-size: 36px;
  text-align: center;
  white-space: nowrap;
}

.recipe-grid {
  float: left
}

.profile-avatar-username {
  position: fixed;
}
