@import url(https://fonts.googleapis.com/css?family=Muli);

.profile-content {
  margin: 0 auto;
  width: 80%;
  font-family: 'Muli', sans-serif;
}

.profile-recipe-containers {
  display: flex;
  flex-direction: column;
}

img.profile-avatar {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin-top: 30px;
}

.recipe-container {
  flex-wrap: wrap;
}
