.recipe-container {
  display: flex;
}

.recipe-container-title {
  margin: 0;
}

.fork-history {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 360px;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid;
  background-color: none;
  h2 {
    margin: 3px;
  }
  .recipe-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    overflow-x: scroll;
    .recipe-list-entry {
      width: 40%;
      height: 22em;
      img {
        width: 100%;
        height: 45%;
        object-fit: cover;
      }
      p {
        margin: 3px;
      }
      .recipe-entry {
        height: 100px;
      }
    }
  }
}


.recipes-featured {
  .recipe-container {
    position: absolute;
    right: 25px;
    left: 25px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.recipes-smoothies {
  position: absolute;
  top: 970px;
  right: 25px;
  left: 25px;
  .recipe-container {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .recipe-container-title {
    margin: 0 0 0 5%;
  }
}

.recipes-top {
  position: absolute;
  top: 520px;
  right: 25px;
  left: 25px;
  .recipe-container {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .recipe-container-title {
    margin: 0 0 0 5%;
  }
}

.search-results {
  position: relative;

}
