@import '_main';

.recipe-entry {
  background-color: $primary-detail;
  width: 250px;
  height: 350px;
  overflow: hidden;
  position: relative;
  border: 1px solid;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.recipe-entry img {
  object-fit: cover;
  width: auto;
  max-height: 70%;
}